<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>My Website</title>

    <!-- SEO facebook <please edit here> -->

    <meta proeperty="og:url" content="https://sauanla.com/" />
    <meta property="og:site_name" content="Sauanla.com" />

    <meta
      property="og:image"
      content="https://sauanla.com/img/fb-seo-img.png"
    />
    <meta
      property="og:image:secure_url"
      content="https://sauanla.com/img/fb-seo-img.png"
    />
    <meta property="og:image:width" content="1248" />
    <meta property="og:image:height" content="702" />

    <meta
      name="keywords"
      content="Phuc Dinh, kbz, sauanla, Sâu ăn lá, Phucnd, kBz, seakbz"
    />

    <meta name="description" content="Hello! I'm Sauanla" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />

    <!-- Custom fonts for this template-->
    <link
      href="/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Page level plugin CSS-->
    <link
      href="/vendor/datatables/dataTables.bootstrap4.css"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <%- include share/topbar.ejs %>

    <div id="wrapper">
      <!-- Sidebar -->
      <%- include share/side-menu.ejs %>

      <div id="content-wrapper">
        <%- body %>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span
                >Copyright © My Website 2019 | Create by
                <a href="https://Sauanla.com" target="_blank"
                  >Sauanla - Phucnd</a
                ></span
              >
            </div>
          </div>
        </footer>
      </div>
      <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="/#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" href="/login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>
  </body>
</html>
